
    <div *ngIf="usuario && !cargando; else showLogin">
      <app-encabezado></app-encabezado>
      <router-outlet></router-outlet>
      <div id="footer">
        <app-reportes></app-reportes>
      </div>
    </div>


    <ng-template #showLogin>
      <div *ngIf="cargando" class="text-center">
        <div class="loadingio-spinner-spinner-k426ab4va9"><div class="ldio-ui5ndklwtm">
          <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
          </div></div>
      </div>
      <app-login *ngIf="!cargando"></app-login>
    </ng-template>
