 <carousel id="footer">
    <slide>
      <div class="text-center py-3 bg-dark text-white">
        <h2>Total de Suscripciones</h2>
        <div class="lead">
          <h3>Son un total de <strong>{{total_sus}}</strong></h3>
          <p>Vamos por más maestros y maestras fuertes!</p>
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center py-3 bg-dark text-white">
        <h2>Total de Suscripciones</h2>
        <div class="lead">
          <h3>Son un total de <strong>{{total_sus}}</strong></h3>
          <p>Vamos por más maestros y maestras fuertes!</p>
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center py-3 bg-dark text-white">
        <h2>Total de Suscripciones</h2>
        <div class="lead">
          <h3>Son un total de <strong>{{total_sus}}</strong></h3>
          <p>Vamos por más maestros y maestras fuertes!</p>
        </div>
      </div>
    </slide>
 </carousel>


